<h1>Sample App</h1>
<p>
  Hi! Welcome to my website!
  <!--
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  -->
</p>

<%= link_to "Sign up!", signup_path, :class => "signup_button round" %>
